<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Home data</title>
  </head>
  <body>
    <div class="nav3">
      <a href="/home">Trang Chủ</a>
      <a href="/login">Đăng nhập</a>
      <a href="/about">Giới Thiệu</a>
      <a href="/sample">Liên Hệ</a>
    </div>
    <div class="Home-data">
      <h1>Home Data</h1>
      <table class="table-data">
        <tr>
          <th>id</th>
          <th>Tên</th>
          <th>email</th>
          <th>phone</th>
          <th>Địa chỉ</th>
          <th>Hoạt động</th>
        </tr>
        <% listUsers.forEach(function(user) { %>
        <tr>
          <td><%= user.customer_id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td><%= user.address %></td>
          <td>
            <button>delete</button
            ><a href="/update/<%= user.customer_id %>">edit</a>
          </td>
        </tr>
        <% }); %>
      </table>
    </div>
  </body>
</html>
